<a href="https://colab.research.google.com/github/DSandovalFlavio/holidays/blob/main/Calendario_holidays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import holidays
import datetime
import pandas as pd

In [ ]:
#mx_holidays = holidays.Mexico()
year = datetime.datetime.now().year

In [ ]:
list_holidays = [list(day)[0] for day in holidays.Mexico(years=year).items() if "New Year's Day" in list(day)[1] or "Observed" in list(day)[1]] 
list_days = [(datetime.datetime(year,1,1) + datetime.timedelta(days=day)).date() for day in range(0,365)]
list_days.sort(reverse=True)

In [ ]:
def check_date(day):
  if day.isoweekday() == 7:
    if day + datetime.timedelta(days=1) in list_holidays:
      day = day + datetime.timedelta(days=2)
    else:
      day = day + datetime.timedelta(days=1)
  elif day.isoweekday() == 6:
    if day + datetime.timedelta(days=2) in list_holidays:
      day = day + datetime.timedelta(days=3)
    else:
      day = day + datetime.timedelta(days=2)
  elif day in list_holidays:
    day = day + datetime.timedelta(days=1)
  else:
    day = day
  return day

In [ ]:
for day in list_holidays:
  print(day)

2022-01-01
2022-02-07
2022-03-21
2022-05-02
2022-11-21
2022-12-26

In [ ]:
df = pd.DataFrame({'Date':list_days})
df

           Date
0    2022-12-31
1    2022-12-30
2    2022-12-29
3    2022-12-28
4    2022-12-27
..          ...
360  2022-01-05
361  2022-01-04
362  2022-01-03
363  2022-01-02
364  2022-01-01

[365 rows x 1 columns]

In [ ]:
df['Date_mod'] = df.Date.apply(lambda day: check_date(day))

In [ ]:
datetime.datetime(2022,12,30).date().isoweekday()

5

In [ ]:
df

           Date    Date_mod
0    2022-12-31  2023-01-02
1    2022-12-30  2022-12-30
2    2022-12-29  2022-12-29
3    2022-12-28  2022-12-28
4    2022-12-27  2022-12-27
..          ...         ...
360  2022-01-05  2022-01-05
361  2022-01-04  2022-01-04
362  2022-01-03  2022-01-03
363  2022-01-02  2022-01-03
364  2022-01-01  2022-01-03

[365 rows x 2 columns]